<div class="player-wrapper">
    @if(currentTrack?.image == '' || currentTrack?.image == null){
        <img src="https://th.bing.com/th/id/OIP.Fpz8G83zSTDxzaTCkQ7oZAHaHa?w=700&h=700&rs=1&pid=ImgDetMain" class="song-img">
    }
    @else{
        <img src="{{currentTrack?.image}}" alt="" class="song-img">
    }
    <div class="song-data">
        <h3>{{currentTrack?.name}}</h3>
        <h4>{{currentTrack?.artist?.name}}</h4>
    </div>
    <section class="song-time">
        {{currentTrack?.duration}} <!-- Controllo se cambia stato -->
    </section>
    <section class="song-controls">
        <button (click)="rewindSong()" class="control-btn">
            <i class="fa-solid fa-backward"></i>
        </button>
        <button (click)="StartOrpause()" class="control-btn">
            @if (played) {
            <i class="fa-solid fa-pause playing play"></i>
            }
            @else {
            <i class="fa-solid fa-play play"></i>
            }
        </button>
        <button (click)="nextsong()" class="control-btn">
            <i class="fa-solid fa-forward"></i>
        </button>
    </section>
</div>