<div class="player-wrapper">
    <img src="https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="song-img">
    <h3>Song Name</h3>
    <section class="song-time">
        {{played}} <!-- Controllo se cambia stato -->
    </section>
    <section class="song-controls">
        <button (click)="rewindSong()" class="control-btn">
            <i class="fa-solid fa-backward"></i>
        </button>
        <button (click)="StartOrpause()" class="control-btn">
            @if (played) {
                <i class="fa-solid fa-pause playing play"></i>
            }
            @else {
                <i class="fa-solid fa-play play"></i>
            }
        </button>   
        <button (click)="nextsong()" class="control-btn">
            <i class="fa-solid fa-forward"></i>
        </button>
    </section>
</div>
