.player-wrapper {
    width: 18vw;
    height: 40vh;
    display: grid;
    place-items: center;
    background-color: rgb(33,33,33);
    border-radius: 1.5rem;
    transition: all .15s ease-in-out;
}

.player-wrapper:hover{
    box-shadow: 0 0 15px 0 rgba(30, 215, 96, 1);
}

h3{
    margin: 0;
    color: #fff;
}

.song-time{
    color: #b3b3b3;
}

.song-img {
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}

.song-controls {
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
}

.control-btn {
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}

.play{
    font-size: 30px;
}

.playing{
    color: #1D8954;
}
