<div class="new-releases-wrapper">
    <div class="releases">
        @for(newRelease of releases; track $index){
            <section class="new-release" (click)="newReleases(newRelease)">
                <img src="{{newRelease.image}}" alt="" class="release-img">
                <div class="new-release-data">
                    <h3 class="release-name">{{newRelease.name}}</h3>
                    <h4 class="release-tracks">{{newRelease.total_tracks}} tracks</h4>
                </div>
            </section>
        }
    </div>
</div>
