header {
    position: relative;
    text-align: center;
    color: #fff;
    display: flex;
    place-items: center;
    justify-content: space-between;
    background: rgb(33, 33, 33);
    background: linear-gradient(20deg, rgba(33, 33, 33, 1) 46%, rgba(30, 215, 96, 1) 100%);
    border-radius: 1.5rem;
    transition: all.3s ease-in-out
}

header:hover{
    box-shadow: 0 0 15px 0 rgba(30, 215, 96, 1);
}

.spotify-logo{
    width: fit-content;
    height: 5vh;
    object-fit: cover;
    margin-left: 2rem;
}

.user{
    display: flex;
    place-items:center;
    justify-content: center;
    width: fit-content;
    gap: 1rem;
}

.username{
    margin-right: 1rem;
}

.user-img{
    border-radius: 100%;
    width: 3vw;
    height: 3vw;
    object-fit: cover;
    margin-right: 2rem;
}