<div class="top-ten-songs">
    <h2 class="label">{{label}}</h2>
    <div class="wrapper">
        @for (track of tracks; track $index) {
            <section class="song" (click)="callPlaySong(this.track)">
                @if(track.image != null){
                    <img src="{{track.image}}" class="song-img">
                }
                @else {
                    <img src="https://static.vecteezy.com/system/resources/previews/021/190/095/original/tone-music-melody-song-note-sound-icon-in-transparent-background-basic-app-and-web-ui-bold-line-icon-eps10-free-vector.jpg" class="song-img">
                }
                <div class="song-data" >
                    <h3>{{track.mainText}}</h3>
                    <h4>{{track.secondText}} <!--<br><span class="duration">{{track.duration}} m</span>--></h4>
                </div>
            </section>
        }
    </div>
</div>
