::-webkit-scrollbar{
    display: none;
}

.top-ten-songs {
    display: grid;
    background-color: rgb(33,33,33);
    height: 72vh;
    border-radius: 1.5rem;
    width: 18vw;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all .15s ease-in-out;
}

.top-ten-songs:hover{
    box-shadow: 0 0 15px 0 rgba(30, 215, 96, 1);
}

.label{
    color: #fff;
    width: 100%;
    align-items: center;
    text-align: center;
}

.wrapper{
    display: grid;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.song {
    width: 100%;
    height: 8vh;
    display: flex;
    place-items: center;
    justify-content: left;
    background: rgb(33,33,33);
    transition: all .2s ease-in-out;
}

.song:hover {
    cursor: pointer;
    background-color: rgb(46, 46, 46);
    border-inline: 4px solid #1db954;
}

.song-img {
    width: 3vw;
    height: 3vw;
    margin-left: 1.5vw;
}

.song-data {
    margin-left: 2vw;
    overflow: hidden;
    text-wrap: nowrap;
    width: 35%;
}

h3,
h4 {
    margin: 0;
}

h4 {
    color: #b3b3b3;
    font-size: 12px;
}

h3 {
    font-size: 17px;
    color: #fff;
}

.duration{
    color: #1db954;
}
