.daily-song {
    width: 25vw;
    height: 20vh;
    background: linear-gradient(20deg, rgba(33, 33, 33, 1) 85%, rgba(30, 215, 96, 1) 100%);
    box-shadow: 0 0 0 0;
    display: grid;
    border-radius: 1.5rem;
    align-items: center;
    text-align: center;
    transition: all .15s ease-in-out;
}

.daily-song:hover{
    box-shadow: 0 0 15px 0 rgba(30, 215, 96, 1);
}

.title {
    color: #fff;
    margin: 0;
}

.song-wrapper {
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    place-items: center;
}   

.song-img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
}

.data-wrapper {
    width: 50%;
    display: grid;
    text-align: left;
    height: fit-content;
}

.data-wrapper h2{
    color: #1db954;
    margin-top: 0;
}

.name {
    margin: 0;
    color: #fff;
}

.artist {
    margin: 0;
    color: #b3b3b3;
}
