<div class="daily-song">
    <h3 class="title">Canzone del giorno</h3>
    <div class="song-wrapper">
        <img src="https://images.unsplash.com/photo-1494232410401-ad00d5433cfa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="song-img">
        <div class="data-wrapper">
            <h2>1:30 h</h2>
            <h3 class="name">Song Name</h3>
            <h4 class="artist">Artist name</h4>
        </div>
    </div>
</div>