.weekly-song {
    display: grid;
    place-items: center;
    width: 18vw;
    height: 25vh;
    background: linear-gradient(20deg,  rgba(30, 215, 96, 1) 28%, rgba(33, 33, 33, 1) 70%);
    border-radius: 1.5rem;
    transition: all .3s ease-in-out
}

.weekly-song:hover{
    box-shadow: 0 0 15px 0 rgba(30, 215, 96, 1);
}

.title {
    color: #fff;
    font-size: 20px;
    margin: 0;
}

.song-data {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
}

.song{
    display: grid;
    place-items:center;
}

.song h3,
.song h4 {
    margin: 0;
}

.img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
}

.song-name {
    color: #fff;
}

.song-artist {
    color: #b3b3b3
}
