.daily-time {
    width: 25vw;
    height: 20vh;
    background-color: rgb(33,33,33);
    border-radius: 1.5rem;
    display: flex;
    place-items: center;
    justify-content: space-evenly;
    transition: all .15s ease-in-out;
}

.daily-time:hover{
    box-shadow: 0 0 15px 0 rgba(30, 215, 96, 1);
}

.time {
    margin: 0;
    color: #fff;
    font-size: 50px;
}

.description {
    color: #b3b3b3;
    font-size: 25px;
    width: 40%;
}

