.top-artis-container {
    width: 18vw;
    min-width: 300px;
    display: flex;
    background: rgb(33, 33, 33);
    background: linear-gradient(20deg, rgba(33, 33, 33, 1) 61%, rgba(30, 215, 96, 1) 100%);
    border-radius: 1.5rem;
    height: 15vh;
    place-items: center;
    justify-content: space-evenly;
}

.artist-img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    
}

.artist-data {
    width: 50%;
}

h3{
    color: #fff;
}

h4{
    color: #b3b3b3;
}

.listen-time {
    font-size: 40px;
    margin: 0;
}

.artist-name {
    letter-spacing: 1px;
    margin: 0;
}