@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background: rgb(25,20,20);
background: linear-gradient(20deg, rgba(25,20,20,1) 73%, rgba(30,215,96,1) 81%, rgba(25,20,20,1) 90%);
    font-family: "Montserrat", sans-serif;
    margin: 0;
}