<!-- This file wrap all the components that toghere build the page -->

<div class="wrapper">
    <aside class="left-side-elements">
        <app-top-artist></app-top-artist>
        <app-top-ten-songs></app-top-ten-songs>
    </aside>


    <main>
        <app-user-data></app-user-data>
        <div class="main-wrapper">
            <div class="inline-wrapper">
                <app-daily-listen-time></app-daily-listen-time>
                <app-daily-song></app-daily-song>
            </div>
            <app-top-genres></app-top-genres>
        </div>
    </main>

    <aside class="right-side-elements">
        <app-weekly-song></app-weekly-song>
        <app-weekly-listen-time></app-weekly-listen-time>
        <app-song-player></app-song-player>
    </aside>
</div>