<!-- This file wrap all the components that toghere build the page -->
@if(dashboardData){
<div class="wrapper" >
    <aside class="left-side-elements">
        <app-top-artist [artistName]="dashboardData.topArtist.name" [image]="dashboardData.topArtist.image"></app-top-artist>
        <app-top-ten-songs [tracks]="dashboardData.userTopTracks"></app-top-ten-songs>
    </aside>


    <main>
        <app-user-data [userName]="dashboardData.user.display_name" [image]="dashboardData.user.image"></app-user-data>
        <div class="main-wrapper">
            <div class="inline-wrapper">
                <app-top-artist-song [trackName]="dashboardData.artistTopTrack.name" [artist]="dashboardData.artistTopTrack.artist" [image]="dashboardData.artistTopTrack.image"></app-top-artist-song>
                <app-new-releases [releases]="dashboardData.newReleases"></app-new-releases>
            </div>
            <app-top-genres [tracks]="dashboardData.recommendedTracks" [albums]="dashboardData.artistAlbums"></app-top-genres>
        </div>
    </main>

    <aside class="right-side-elements">
        <app-user-playlist [playlists]="dashboardData.userPlaylists"></app-user-playlist>
        <app-song-player></app-song-player>
    </aside>
</div>
}