<!-- This file wrap all the components that toghere build the page -->

<!-- Wait until all the data are loaded before loading the page content -->
@if(dashboardData){
<div class="wrapper">
    <aside class="left-side-elements w-1 h-4">
        @for(widget of dashboardConfig | position: 'left'; track $index){
            @if(widget.type == "card"){
                <app-card
                    [class]="'w-' + widget.width + ' h-' + widget.heigth" 
                    [label]="widget.widgetLabel"
                    [item]="dashboardData[widget.widgetProperty]">
                </app-card>
            }
            @if(widget.type == "list"){
                <app-list 
                    [class]="'w-' + widget.width + ' h-' + widget.heigth" 
                    [items]="dashboardData[widget.widgetProperty]" 
                    [label]="widget.widgetLabel">
                </app-list>
            }
        }
    </aside>

    <main class=" w-2">
            @for(widget of dashboardConfig | position: 'center'; track $index){
                    @if(widget.type == "header"){
                        <app-header 
                            [class]="'w-' + widget.width + ' h-' + widget.heigth" 
                            [userName]="dashboardData.user.display_name" 
                            [image]="dashboardData.user.image">
                        </app-header>
                    }
                    @if(widget.type == "card"){
                        <app-card 
                            [class]="'w-' + widget.width + ' h-' + widget.heigth" 
                            [label]="widget.widgetLabel" 
                            [item]="dashboardData[widget.widgetProperty]">
                        </app-card>
                    }
                    @if(widget.type == "list"){
                        <app-list 
                            [class]="'w-' + widget.width + ' h-' + widget.heigth"
                            [items]="dashboardData.newReleases" 
                            [label]="widget.widgetLabel">
                        </app-list>
                    }
                    @if(widget.widgetName == "top-genres" && widget.type == "multi-list"){
                        <app-multi-list 
                            [class]="'w-' + widget.width + ' h-' + widget.heigth"
                            [tracks]="dashboardData.recommendedTracks" 
                            [albums]="dashboardData.artistAlbums">
                        </app-multi-list>
                    }
                }
    </main>

    <aside class="right-side-elements w-1 h-4">
        @for(widget of dashboardConfig | position: 'right'; track $index){
            @if(widget.type == "list"){
                <app-list 
                    [class]="'w-' + widget.width + ' h-' + widget.heigth"
                    [items]="dashboardData.userPlaylists" 
                    [label]="widget.widgetLabel">
                </app-list>
            }
<!--             @if(widget.type == "song-player"){
                <app-song-player
                [class]="'w-' + widget.width + ' h-' + widget.heigth">
                </app-song-player>
            } -->
        }
    </aside>
</div>
}