<div class="genres-wrapper">
    <section class="genre-list">
        <h2>Top 5 generi</h2>
        <ul>
            <li>
                <h3>1° - Rap</h3>
            </li>
            <li>
                <h3>2° - Pop</h3>
            </li>
            <li>
                <h3>3° - Blues</h3>
            </li>
            <li>
                <h3>4° - Rock</h3>
            </li>
            <li>
                <h3>5° - Chill</h3>
            </li>
        </ul>
    </section>
    <section  class="similar-songs">
        <h3>Canzoni che potrebbero piacerti</h3>
        
    </section>
</div>