<div class="genres-wrapper">
    <section class="genre-list">
        <h2>Top 5 generi</h2>
        <ul>
            <li>
                <h3>1° - Rap</h3>
            </li>
            <li>
                <h3>2° - Pop</h3>
            </li>
            <li>
                <h3>3° - Blues</h3>
            </li>
            <li>
                <h3>4° - Rock</h3>
            </li>
            <li>
                <h3>5° - Chill</h3>
            </li>
        </ul>
    </section>
    <section  class="similar-songs">
        <h3 class="heading">Recommended Tracks</h3>
        <div class="rec-wrapper">
            @for(recTrack of tracks; track $index){
                <section class="recommended-track" (click)="trackRedirect(recTrack)">
                    <img src="{{recTrack.image}}" alt="track image" class="rec-img">
                    <div class="rec-track-data">
                        <h3 class="track-name">{{recTrack.name}}</h3>
                        <h4 class="artist-name">{{recTrack.artist}}</h4>
                    </div>
                </section>
            }
        </div>
    </section>
</div>